* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    width: 100vw;
    background: #EBEBEB;
}

.wrapper, body {
    overflow-x: hidden;
}

@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro&display=swap');

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

button:focus {
    outline: 0;
}

p, h1, h2, h3, h4, li, label, legend, input, select {
    font-family: 'Source Sans Pro', sans-serif;
}

p, h1, h2, h3, h4, li {
    line-height: 2.5vh;
    padding-bottom: 1vh;
}

label, legend {
    line-height: 1.25vh;
    padding-top: 3vh;
    padding-bottom: 3vh;
}

h1, h2, h3 {
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: normal;
    padding-top: 2vh;
}

h1 {
    font-size: 4.5vh;
}

h2 {
    font-size: 3vh;
}

h3 {
    font-size: 2.5vh;
}

p, li {
    padding-top: 1vh;
}

p, li, .button, select, label, input, .hamburger-button-style {
    font-size: 1.85vh;
}

a, .link {
    text-decoration: none;
    color: black;
}

a:hover,  .link:hover {
    color: #333333;
    cursor: pointer;
}

li {
    list-style-type: none;
}

fieldset {
    border: none;
}

input {
    height: 4vh;
    padding: 1vh;
    outline: 0.325vh solid black;
}

.radio-button {
    outline: unset !important;
    padding: unset !important;
    height: unset !important;
}

nav {
    width: 100vw;
}

.nav-layer {
    display: flex;
    justify-content: center;
}

header {
    height: 18vh;
    background-color: #1F1F1F;
    width: 100%;
    display: flex;
    justify-content: center;
    padding-bottom: 2vh;
}

footer {
    background-color: #1F1F1F;
    width: 100%;
}

.footer-heading {
    color: white !important;
    font-size: 1.85vh;
}

.footer-item {
    color: white !important;
    font-size: 1.25vh;
    padding-top: 0.25vh;
    padding-bottom: 0.25vh;
}

.footer-item:hover {
    color: #888888;
    cursor: pointer;
    transition: 0.2s all;
}

.copyright-info {
    text-align: center;
    padding-bottom: 2.5%;
}

.button, select {
    color: white;
    outline: none;
    background-color: #1F1F1F;
    padding: 2vh;
}

.button:hover, #select:hover {
    background-color: #333333;
}

.hamburger-button-style {
    background-color: transparent;
    outline: none;
    color: white;
    border: none;
    padding-left: 2vh;
}

.mobile-buttons {
    display: none;
    color: white;
    float: right;
    margin-right: 5vw;
    top: 0;
    margin-top: 4vh;
}

.mobile-buttons a, .mobile-buttons a:visited {
    color: white;
}

.menu-dots {
    background-color: white;
    width: 1.25vh;
    height: 1.25vh;
    border-radius: 50px;
    display: inline-block;
    padding-left: 0.5vw;
}

.nav-button {
    font-family: 'Source Sans Pro', sans-serif;
    color: #333333;
    font-size: 3vh;
    padding-left: 2vw;
    padding-top: 2vh;
}

    .nav-button:hover {
        cursor: pointer;
        color: black;
        transition: 0.2s all;
    }

.second-level {
    font-size: 2.25vh;
}

.img-15vw {
    width: 15vw;
}

.img-25 {
    width: 25%;
}

.img-half {
    width: 50%;
}

.img-75 {
    width: 75%;
}

.img-full {
    padding-top: 2vh;
    width: 100%;
}

.padding-left {
    padding-left: 4vw;
}

.padding-top {
    padding-top: 4vh;
}

.margin-top {
    margin-top: 4vh;
}

.container {
    width: 50vw;
    margin: 0 auto;
    padding: 2vh;
}

.centre {
    text-align: center;
}

.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
}

.column {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 1;
    padding-right: 2vh;
    padding-top: 2vh;
    padding-bottom: 2vh;
}

.hidden {
    display: none;
}

.visible {
    display: block !important;
}

.sticky-nav {
    top: 0;
    z-index: 3;
    position: fixed;
    width: 100vw;
    background-color: #222222;
    padding-bottom: 1vh;
    animation: fadeInDown 0.25s forwards;
}

.white-text {
    color: white !important;
}

.spacer {
    height: 5vh;
}

.relative {
    position: relative;
}

.hero-titles {
    position: absolute;
    z-index: 2;
}

.overlay {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0.75;
    z-index: 1;
}

.added-to-cart {
    background-color: #1F1F1F;
    color: white !important;
    animation: fadeIn 0.75s linear;
    padding: 2vh;
}

.offscreen {
    margin-left: -500%;
    height: 0;
    width: 0%;
    z-index: 50;
}

.price {
    padding-top: 2vh;
    padding-bottom: 2vh;
    font-size: 2.8vh;
}

#estimated-delivery-date {
    animation: fadeIn 0.75s forwards;
}

#select-size-label {
    padding-top: 0.85vh;
}

#errors-found {
    margin-top: 5vh;
}

.field-error {
    background-color: #8d0101 !important;
    color: white !important;
    transition: 0.2s all;
}

.item-required {
    color: #8d0101;
    font-weight: bold;
    font-size: 1.5vh !important;
    padding-top: unset !important;
}

/*Search*/
#search-field, #search-button {
    background-color: #333333;
    margin-left: 2vw;
    outline: none;
    border: none;
    font-size: 2vh !important;
    padding-top: 1vh;
    color: white !important;
}

#search-button {
    padding: 0.5vh;
    height: 4vh;
    outline: 0.12vh solid white;
}

#search-layer {
    animation: fadeInDown 0.75s forwards;
    background-color: #262626;
}

.search-icon {
    position: absolute;
    background-image: url(../images/search.svg);
    background-position: center;
    background-size: cover;
    height: 3vh;
    width: 3vh;
    left: 0;
    margin-left: 62.5vw;
    top: 0;
    margin-top: 4vh;
    background-color: transparent;
    outline: none;
    border: none;
}

/*Accessibility classes*/
/*Font*/
.p-med, .h2-med, .h3-med {
    line-height: 6.25vh !important;
    padding-bottom: 2.5vh !important;
}
.p-med {
    font-size: 3.625vh !important;
}

.h1-med {
    font-size: 10.25vh !important;
    line-height: 11.25vh !important;
    padding-bottom: 2.5vh !important;
}

.h2-med {
    font-size: 6.5vh !important;
}

.h3-med {
    font-size: 5.25vh !important;
}

.p-large, .h2-large, .h3-large {
    line-height: 7.5vh !important;
    padding-bottom: 3vh !important;
}

.p-large {
    font-size: 5.55vh !important;
}

.h1-large {
    font-size: 13.5vh !important;
    line-height: 11.5vh !important;
    padding-bottom: 3vh !important;
}

.h2-large {
    font-size: 9vh !important;
}

.h3-large {
    font-size: 7.5vh !important;
}

.wide-col {
    flex: unset;
}

.bottom-margin {
    margin-top: 4vh !important;
    margin-bottom: 4vh !important;
}

/*Input box sizes*/
.input-med {
    height: 12vh !important;
}

.input-large {
    height: 16vh !important;
}

/*Mobile button placement (for large text modes)*/
.mobile-button-placement-med {
    margin-top: -6vh !important;
}

.mobile-button-placement-large {
    margin-top: -7vh !important;
}

.search-icon-med {
    height: 6vh;
    width: 6vh;
    margin-left: 40vw;
    margin-top: 2.5vh;
}

.search-icon-large {
    height: 7vh;
    width: 7vh;
    margin-left: 34vw;
    margin-top: 1.7vh;
}

@media only screen and (max-width: 768px) {
    h1, h2, h3 {
        line-height: 5vh !important;
    }
    header {
        height: unset;
        display: block;
        justify-content: unset;
        position: fixed;
        height: 10vh;
    }
    #logo {
        height: 8vh;
        margin-left: -35vw;
    }
    nav {
        top: 0;
        display: none;
        z-index: 10;
        position: fixed;
        transition: 0.2s ease-in-out;
        margin-top: 9vh;
        border-color: black;
        background-color: #e8e8e8;
        animation: slideInDown 1s forwards;
    }
    .nav-layer {
        display: block;
        justify-content: unset;
    }
    .mobile-buttons {
        display: block;
    }
    .button, select {
        width: 100%;
    }
    .container, .column {
        width: 100% !important;
    }
    .padding-top {
        padding-top: unset !important;
    }
    .column {
        flex: unset !important;
    }
    #col2, #col3, #col4, #col5, #col6 {
        display: none;
    }
    #col7 {
        padding-left: 8vw;
    }
    #top-of-page {
        padding-top: 14vh;
    }
    .spacer {
        height: 0vh;
    }
    #search-field {
        padding-left: 4vw;
        width: 77.5vw;
        font-size: 2.5vh !important;
    }
    .p-large {
        font-size: 4vh !important;
    }
    .h1-large {
        font-size: 8.5vh !important;
        line-height: 11.5vh !important;
        padding-bottom: 3vh !important;
    }

    .h2-large {
        font-size: 6vh !important;
    }

    .h3-large {
        font-size: 5vh !important;
    }

    .h1-med {
        font-size: 7.5vh !important;
        line-height: 10.5vh !important;
        padding-bottom: 3vh !important;
    }

    .h2-med {
        font-size: 5.5vh !important;
    }

    .h3-med {
        font-size: 4.5vh !important;
    }

    .p-med {
        font-size: 3.5vh !important;
    }
}